<div layout="column" layout-align="center center" layout-fill>
  <md-list layout-fill>
    <md-item ng-repeat="(id, entry) in currentday.cardList | findDay">
      <md-item-content>
      <md-whiteframe class="md-whiteframe-z1" layout-margin flex>
        <div layout="row" layout-align="space-between start" layout-margin flex>
          <p ng-show="entry.start" flex>
            {{entry.start | date:'shortTime'}}
          </p>
          <p ng-show="!entry.start" flex>
            Clock Out
          </p>
          <md-button
          class="md-raised"
          ng-click="currentday.update(entry, 'start')">
            <i class="fa fa-check fa-lg" style="color:green"></i>
          </md-button>
        </div>
        </md-whiteframe>
      </md-item-content>
    </md-item>
  </md-list>
</div>
